* {
  font-family: var(--ion-default-font-family) !important;
}

ion-label {
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

ion-item {
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

ion-row {
  font-size: 15px;
}

.result-coop-wave {
  display: flex;
}

ion-img {
  &.coop-weapon-list-item {
    max-width: 40px;
  }

  &.supplied-weapon-list-item {
    height: 28px;
    width: 28px;
    // background: var(--ion-border-color);
    border-radius: 14px;
  }

  &.supplied-special-item {
    height: 28px;
    width: 28px;
    // background: var(--ion-border-color);
    border-radius: 14px;
  }

  &:not(:last-child) {
    margin-right: 2px;
  }
}

.num {
  &::before {
    content: "x" !important;
  }
}

.danger-rate {
  &::after {
    content: "%" !important;
  }
}
